// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Fuentes a importar **/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/** Ionic CSS Variables **/
:root {
  /** Colores en toda la app**/
  /** Se pueden generar desde la pagina: https://ionicframework.com/docs/theming/color-generator **/
  /** primary **/
  --ion-color-primary: #886aea;
  --ion-color-primary-rgb: 136,106,234;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #785dce;
  --ion-color-primary-tint: #9479ec;

  /** secondary **/
  --ion-color-secondary: #8cea6a;
  --ion-color-secondary-rgb: 140,234,106;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #7bce5d;
  --ion-color-secondary-tint: #98ec79;

  /** tertiary **/
  --ion-color-tertiary: #eac86a;
  --ion-color-tertiary-rgb: 234,200,106;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #ceb05d;
  --ion-color-tertiary-tint: #ecce79;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** Color de fondo y de las letras en toda la app**/
  /** Se pueden generar desde la pagina: https://ionicframework.com/docs/theming/themes **/
  --ion-background-color: #886aea;
  --ion-background-color-rgb: 136,106,234;

  --ion-text-color: #eac86a;
  --ion-text-color-rgb: 234,200,106;

  --ion-color-step-50: #8d6fe4;
  --ion-color-step-100: #9273dd;
  --ion-color-step-150: #9778d7;
  --ion-color-step-200: #9c7dd0;
  --ion-color-step-250: #a182ca;
  --ion-color-step-300: #a586c4;
  --ion-color-step-350: #aa8bbd;
  --ion-color-step-400: #af90b7;
  --ion-color-step-450: #b494b0;
  --ion-color-step-500: #b999aa;
  --ion-color-step-550: #be9ea4;
  --ion-color-step-600: #c3a29d;
  --ion-color-step-650: #c8a797;
  --ion-color-step-700: #cdac90;
  --ion-color-step-750: #d2b18a;
  --ion-color-step-800: #d6b584;
  --ion-color-step-850: #dbba7d;
  --ion-color-step-900: #e0bf77;
  --ion-color-step-950: #e5c370;

  /** Cambia la fuente de las letras en toda la app **/
  /** Recordar que se aplican de izquierda a derecha, si una no esta instalada usa la otra. **/
  /** Es importante que la lista tenga mas de una **/
  /** Se pueden obtener mas fuentes desde la pagina: https://fonts.google.com **/

  --ion-font-family: "Work Sans",-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;
}
