// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Fuentes a importar **/
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

/** Ionic CSS Variables **/
:root {
  /** Colores en toda la app**/
  /** Se pueden generar desde la pagina: https://ionicframework.com/docs/theming/color-generator **/
  /** primary **/
  --ion-color-primary: #444444;
  --ion-color-primary-rgb: 68,68,68;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #3c3c3c;
  --ion-color-primary-tint: #575757;

  /** secondary **/
  --ion-color-secondary: #8f8e8d;
  --ion-color-secondary-rgb: 143,142,141;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #7e7d7c;
  --ion-color-secondary-tint: #9a9998;

  /** tertiary **/
  --ion-color-tertiary: #bdbcba;
  --ion-color-tertiary-rgb: 189,188,186;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #a6a5a4;
  --ion-color-tertiary-tint: #c4c3c1;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** Color de fondo y de las letras en toda la app**/
  /** Se pueden generar desde la pagina: https://ionicframework.com/docs/theming/themes **/
  --ion-background-color: #444444;
  --ion-background-color-rgb: 68,68,68;

  --ion-text-color: #bdbcba;
  --ion-text-color-rgb: 189,188,186;

  --ion-color-step-50: #4a4a4a;
  --ion-color-step-100: #505050;
  --ion-color-step-150: #565656;
  --ion-color-step-200: #5c5c5c;
  --ion-color-step-250: #626262;
  --ion-color-step-300: #686867;
  --ion-color-step-350: #6e6e6d;
  --ion-color-step-400: #747473;
  --ion-color-step-450: #7a7a79;
  --ion-color-step-500: #81807f;
  --ion-color-step-550: #878685;
  --ion-color-step-600: #8d8c8b;
  --ion-color-step-650: #939291;
  --ion-color-step-700: #999897;
  --ion-color-step-750: #9f9e9d;
  --ion-color-step-800: #a5a4a2;
  --ion-color-step-850: #abaaa8;
  --ion-color-step-900: #b1b0ae;
  --ion-color-step-950: #b7b6b4;

  /** Cambia la fuente de las letras en toda la app **/
  /** Recordar que se aplican de izquierda a derecha, si una no esta instalada usa la otra. **/
  /** Es importante que la lista tenga mas de una **/
  /** Se pueden obtener mas fuentes desde la pagina: https://fonts.google.com **/

  --ion-font-family: "Girassol",-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;
}
