/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

mat-card-header {
  display: flex !important;
  justify-content: center;
}

mat-card-actions {
  display: flex !important;
  justify-content: center;
}

mat-card-footer {
  display: flex !important;
  justify-content: center;
}

mat-form-field {
  width: 100%;
}

mat-toolbar-row {
  display: flex !important;
  justify-content: center;
}

button {
  width: 50%;
}
