// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Fuentes a importar **/
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

/** Ionic CSS Variables **/
:root {
  /** Colores en toda la app**/
  /** Se pueden generar desde la pagina: https://ionicframework.com/docs/theming/color-generator **/
  /** primary **/
  --ion-color-primary: #ef473a;
  --ion-color-primary-rgb: 239,71,58;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #d23e33;
  --ion-color-primary-tint: #f1594e;

  /** secondary **/
  --ion-color-secondary: #3a88ef;
  --ion-color-secondary-rgb: 58,136,239;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #3378d2;
  --ion-color-secondary-tint: #4e94f1;

  /** tertiary **/
  --ion-color-tertiary: #3aefa1;
  --ion-color-tertiary-rgb: 58,239,161;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #33d28e;
  --ion-color-tertiary-tint: #4ef1aa;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** Color de fondo y de las letras en toda la app**/
  /** Se pueden generar desde la pagina: https://ionicframework.com/docs/theming/themes **/
  --ion-background-color: #ef473a;
  --ion-background-color-rgb: 239,71,58;

  --ion-text-color: #3aefa1;
  --ion-text-color-rgb: 58,239,161;

  --ion-color-step-50: #e64f3f;
  --ion-color-step-100: #dd5844;
  --ion-color-step-150: #d46049;
  --ion-color-step-200: #cb694f;
  --ion-color-step-250: #c27154;
  --ion-color-step-300: #b97959;
  --ion-color-step-350: #b0825e;
  --ion-color-step-400: #a78a63;
  --ion-color-step-450: #9e9368;
  --ion-color-step-500: #959b6e;
  --ion-color-step-550: #8ba373;
  --ion-color-step-600: #82ac78;
  --ion-color-step-650: #79b47d;
  --ion-color-step-700: #70bd82;
  --ion-color-step-750: #67c587;
  --ion-color-step-800: #5ecd8c;
  --ion-color-step-850: #55d692;
  --ion-color-step-900: #4cde97;
  --ion-color-step-950: #43e79c;

  /** Cambia la fuente de las letras en toda la app **/
  /** Recordar que se aplican de izquierda a derecha, si una no esta instalada usa la otra. **/
  /** Es importante que la lista tenga mas de una **/
  /** Se pueden obtener mas fuentes desde la pagina: https://fonts.google.com **/

  --ion-font-family: "Slabo 27px",-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;
}
