<ng-container>
  <mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let pelicula of listadoPeliculas">
      <mat-grid-tile-header>
        {{ pelicula.nombre }}
      </mat-grid-tile-header>
      <mat-card class="mat-card">
        <img
          mat-card-image
          src="{{ pelicula.fotoPelicula }}"
          alt="{{ pelicula.nombre }}"
        />
        <mat-card-footer>
          Fecha de estreno: {{ pelicula.fechaEstreno }}
          Tipo: {{ enumTipo[pelicula.tipo] }}
          {{ pelicula }}


        </mat-card-footer>

      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</ng-container>
