<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav-menu" mode="side" opened>
    <button
      class="cerrar-sesion"
      mat-raised-button
      (click)="cerrarSesion()"
      color="warn"
    >
      Cerrar sesion
    </button>
    <img class="imagen" [src]="foto" alt="Photo of a Shiba Inu" />
    <p>{{ nomApe }}</p>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Usuario
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-button color="accent">
          Lista
        </button>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Producto
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button *ngIf="rol == 'Administrador'" mat-button color="accent">
          Alta
        </button>
        <button mat-button color="accent">
          Lista
        </button>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Local
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button *ngIf="rol == 'Administrador'" mat-button color="accent">
          Alta
        </button>
        <button mat-button color="accent">
          Lista
        </button>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="rol == 'Administrador'">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Movimientos
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-button color="accent">
          Lista
        </button>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-contenedor">
    <app-tabla-listado [rol]="rol"> </app-tabla-listado>
  </mat-sidenav-content>
</mat-sidenav-container>
