<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav-menu" mode="side" opened>
      <img
      class="imagen"
      [src]="foto"
      alt="Photo of a Shiba Inu"
    />

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Usuario
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-button color="accent">
          Listar
        </button>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Producto
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-button color="accent">
          Alta
        </button>
        <button mat-button color="accent">
          Baja
        </button>
        <button mat-button color="accent">
          Listar
        </button>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Local
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-button color="accent">
          Alta
        </button>
        <button mat-button color="accent">
          Baja
        </button>
        <button mat-button color="accent">
          Listar
        </button>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-contenedor">
    <p>contenido</p>
  </mat-sidenav-content>
</mat-sidenav-container>
