<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center borde">
      Juego de movimiento kinético
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid slot="fixed" fixed>
    <form [formGroup]="formulario" (ngSubmit)="ingresar()">
      <ion-row>
        <ion-col class="ion-text-center fondo">
          <ion-button type="reset" expand="block" fill="outline" color="danger"
            ><ion-icon name="close-circle"></ion-icon
          ></ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating"
              ><ion-icon name="person"></ion-icon>Usuario</ion-label
            >
            <ion-input
              type="text"
              formControlName="usuario"
              placeholder="Ingrese su usuario"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating"
              ><ion-icon name="key"></ion-icon>Contraseña</ion-label
            >
            <ion-input
              type="password"
              formControlName="clave"
              placeholder="Ingrese su contraseña"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center fondo">
          <ion-button
            type="submit"
            expand="block"
            fill="outline"
            color="success"
            ><ion-icon name="checkmark-circle"></ion-icon
          ></ion-button>
        </ion-col>
      </ion-row>
    </form>
    <ion-row>
      <ion-toolbar>
        <ion-title size="small" class="ion-text-center borde">
          Usuarios
        </ion-title>
      </ion-toolbar>
    </ion-row>
    <ion-row>
      <ion-item class="largo-completo" color="secondary">
        <ion-select
          [(ngModel)]="usuario"
          (ionChange)="completarUsuario()"
          interface="popover"
          placeholder="Elegir uno"
        >
          <ion-select-option value="admin">Admin</ion-select-option>
          <ion-select-option value="invitado">Invitado</ion-select-option>
          <ion-select-option value="usuario">Usuario</ion-select-option>
          <ion-select-option value="anonimo">Anonimo</ion-select-option>
          <ion-select-option value="tester">Tester</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <div
    class="ion-justify-content-center ion-align-items-center"
    style="display: flex;"
  >
    <ion-img class="imagen" src="../../assets/icon.png"></ion-img>
  </div>
</ion-footer>
