.imagen {
  height: 130px;
  width: 80px;
}

.borde {
  border-radius: 10px;
  border-style: double;
  border-width: 4px;
  border-color: var(--ion-color-tertiary-shade);
  background-color: var(--ion-color-light-tint);
}

.boton {
  width: 100%;
}

