<ion-grid fixed>
  <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-col size="auto">
      <ion-img class="imagen" src="../../assets/icon.png"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-col>
      <ion-toolbar>
        <ion-title class="ion-text-center borde">
          Relevamiento visual
        </ion-title>
      </ion-toolbar>
    </ion-col>
  </ion-row>
  <form [formGroup]="formulario" (ngSubmit)="ingresar()">
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="12">
        <ion-item>
          <ion-label position="fixed" class="ion-text-center borde"
            >Usuario</ion-label
          >
          <ion-input
            type="text"
            formControlName="usuario"
            placeholder="Ingrese su usuario"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="12">
        <ion-item>
          <ion-label position="fixed" class="ion-text-center borde"
            >Contraseña</ion-label
          >
          <ion-input
            type="password"
            formControlName="clave"
            placeholder="Ingrese su contraseña"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center ion-justify-content-center fondo">
      <ion-col>
        <ion-button class="boton" color="success" type="submit"
          >Ingresar</ion-button
        >
      </ion-col>
      <ion-col>
        <ion-button class="boton" color="danger" type="reset"
          >Borrar</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
  <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-col>
      <ion-toolbar>
        <ion-title size="small" class="ion-text-center borde">
          Usuarios
        </ion-title>
      </ion-toolbar>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center ion-justify-content-center fondo">
    <ion-col>
      <ion-button size="small" class="boton" color="secondary" type="button" (click)="completarUsuario('admin')"
        >Admin</ion-button
      >
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center ion-justify-content-center fondo">
    <ion-col>
      <ion-button size="small" class="boton" color="secondary" type="button" (click)="completarUsuario('invitado')"
        >Invitado</ion-button
      >
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center ion-justify-content-center fondo">
    <ion-col>
      <ion-button size="small" class="boton" color="secondary" type="button" (click)="completarUsuario('usuario')"
        >Usuario</ion-button
      >
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center ion-justify-content-center fondo">
    <ion-col>
      <ion-button size="small" class="boton" color="secondary" type="button" (click)="completarUsuario('anonimo')"
        >Anonimo</ion-button
      >
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center ion-justify-content-center fondo">
    <ion-col>
      <ion-button size="small" class="boton" color="secondary" type="button" (click)="completarUsuario('tester')"
        >Tester</ion-button
      >
    </ion-col>
  </ion-row>
</ion-grid>
