<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="sfotos">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Sacar fotos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mfotos">
      <ion-icon name="image"></ion-icon>
      <ion-label>Mis fotos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lfotos">
      <ion-icon name="list-circle"></ion-icon>
      <ion-label>Lista de fotos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="graficos">
      <ion-icon name="stats-chart"></ion-icon>
      <ion-label>Graficos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
