<ion-header>
  <ion-toolbar>
    <ion-title>Mostrar video</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid slot="fixed" fixed>
    <ion-row>
      <ion-col>
        <video width="340" height="320" controls>
          <source src="{{ elemento.partido.urlVideo }}" type="video/mp4" />
        </video>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full" color="danger" (click)="salir()"
          >Salir</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
