<ion-header class="ion-text-center">
  <ion-toolbar>
    <ion-title>Mis fotos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar slot="fixed">
    <ion-title>Listado de mis fotos</ion-title>
  </ion-toolbar>
  <ion-list>
    <ion-list-header slot="fixed"> </ion-list-header>

    <ion-item *ngFor="let elemento of $listaFotosUsuario | async">
      <ion-avatar slot="start">
        <img (click)="mostratFoto($event,elemento.foto.urlFoto)" src="{{ elemento.foto.urlFoto }}" />
      </ion-avatar>

      <ion-label *ngIf="elemento.foto.esLinda">
        <h2>LINDA</h2>
      </ion-label>

      <ion-label *ngIf="!elemento.foto.esLinda">
        <h2>FEA</h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <p-overlayPanel #pop>
    <img [src]="imagen" />
  </p-overlayPanel>
</ion-content>

<ion-footer> </ion-footer>
