.imagen {
  height: 130px;
  width: 80px;
}

.borde {
  border-radius: 10px;
  border-style: ridge;
  border-width: 4px;
  border-color: var(--ion-color-tertiary-shade);
  background-color: var(--ion-color-light-tint);
}

.fondo {
  background-color: var(--ion-color-secondary);
}

.boton-fab {
  font-size: 9px;
}
