<ion-content
  fullscreen="true"
  class="fondo-content borde ion-text-uppercase ion-text-center"
>
  <ion-label [(class)]="clasePreparado"
    >El juego comienza en: {{ preparadoNumero }}</ion-label
  >

  <ion-label [(class)]="claseTiempo"
    >Tiempo: Minutos: {{ minutos }} - Segundos {{ segundos }}</ion-label
  >

  <ion-label [(class)]="clasePuntos"><br>Puntos: {{ contTiempo }}</ion-label>

  <ion-button
    [(class)]="claseBoton"
    (click)="volver()"
    expand="full"
    color="tertiary"
    shape="round"
  >
    Volver al menu
  </ion-button>
</ion-content>
