.altura-100 {
  height: 100%;
}

.altura-20 {
  height: 20%;
}

.ancho-35 {
  width: 35%;
}

.ancho-25 {
  width: 25%;
}

.rojo {
  --background: #ff0000;
}

.azul {
  --background: #0000ff;
}

.amarillo {
  --background: #ffff00;
}

.naranja {
  --background: #FFA500;
}

.verde {
  --background: #008000;
}
